.roboto-light {
    font-weight: 300;
}

.roboto-ultralight {
    font-weight: 100;
}

.y-center {
    width: 100%;
    text-align: center;
}

body  {
    background: url(/img/Railway_track_1920x1080.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

magic-width-text {font-size: 1vw;}

.cursive {
    font-family: 'Cedarville Cursive', cursive;
}

#downarrow {
    padding-top: 0px
}

@font-face {
	font-family: 'Zephyr';
	src: url('fonts/zephyr.eot');
	src: local('☺'), url('fonts/zephyr.woff') format('woff'), url('fonts/zephyr.ttf') format('truetype'), url('fonts/zephyr.svg') format('svg');
	
}

.zephyr {
    font-family: 'Zephyr';
}