@font-face {
	font-family: 'Zephyr';
	src: url('thirdparty/fonts/zephyr.eot');
	src: local('☺'), url('thirdparty/fonts/zephyr.woff') format('woff'), url('thirdparty/fonts/zephyr.ttf') format('truetype'), url('thirdparty/fonts/zephyr.svg') format('svg');
	
}

.zephyr {
    font-family: 'Zephyr';
}

/*
This keeps the scrollbar on the longer pages from screwing with the alignment of things
*/
html {
  overflow-y: scroll;
}

.button-collapse {
    padding-left: 20px
}

.range-numbers {
    display: flex;
    justify-content: space-between;
    font-family: 'Cutive', serif;
    padding-top: 10px;
    padding-bottom: 5px;
}

.cutive {
    font-family: 'Cutive',serif;
    color:white;
}

.indicator-counter {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-radius: 3px;
    border-color: dimgray;
    border-width: 3px;
    text-align: center;
    color: black;
    background-color: white;
    font-family: 'Cutive', serif;
}

input[type=range].notch-slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 12.2px 0;
}
input[type=range].notch-slider:focus {
  outline: none;
}
input[type=range].notch-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].notch-slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.58), 0px 0px 0px rgba(13, 13, 13, 0.58);
  border: 0px solid #ff1e00;
  height: 50px;
  width: 43px;
  border-radius: 4px;
  background: #ff435f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.2px;
}
input[type=range].notch-slider:focus::-webkit-slider-runnable-track {
  background: #545a5a;
}
input[type=range].notch-slider::-moz-range-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].notch-slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.58), 0px 0px 0px rgba(13, 13, 13, 0.58);
  border: 0px solid #ff1e00;
  height: 50px;
  width: 43px;
  border-radius: 4px;
  background: #ff435f;
  cursor: pointer;
}
input[type=range].notch-slider::-ms-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].notch-slider::-ms-fill-lower {
  background: #3c4040;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].notch-slider::-ms-fill-upper {
  background: #484d4d;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].notch-slider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.58), 0px 0px 0px rgba(13, 13, 13, 0.58);
  border: 0px solid #ff1e00;
  height: 50px;
  width: 43px;
  border-radius: 4px;
  background: #ff435f;
  cursor: pointer;
  height: 25.6px;
}
input[type=range].notch-slider:focus::-ms-fill-lower {
  background: #484d4d;
}
input[type=range].notch-slider:focus::-ms-fill-upper {
  background: #545a5a;
}
